.add-team-main {
    width: 90%;
    margin: 0 auto;
    color: #FFF;
    position: relative;
    z-index: 2;
}

.add-team-title,
.add-team-form,
.add-team-button {
    margin: 20px;
}

.error {
    margin-top: 20px;
    color: red;
}

.container-sliders {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.slider {
    position: relative;
    width: 200px;
    
    .input.-slider,
    .bar {
        -webkit-appearance: none; /* Override default look */
        background-color: transparent;
        height: 5px;
        width: 100%;
        border-radius: 5px;
        outline: none;
        background-color: #d7dcdf;
    }

    .bar {
        position: absolute;
        bottom: 0;
        background-color: #7e633b;
    
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
        } 
    }
}

.input.-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    background-color: #BCBCBC;
    border: 1px solid #BCBCBC;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}    

.value {
    margin-top: 20px;
}

.input {
    margin-top: 20px;
    width: 200px;
    display: block;
    cursor: pointer;
    color: #c4b998;
    background-color: #000;
    outline: 0;

    &::placeholder {
        color: #c4b998;
        font-family: var(--font);
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400;
    }

    &.-name-team {
        border: 2px solid #7e633b;
        padding: 15px 10px;
        max-width: 300px;
        width: 100%;
        font-size: 16px;
    }
}

.container-buttons {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
}

.btn {
    margin: 10px 20px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 3px;

    &.disabled {
        opacity: .4;
        cursor: none;
    }
}

.registered-teams-title {
    font-size: 24px;
}

.list-teams {
    margin: 20px 0;
}

.list-item {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.edit,
.delete {
    cursor: pointer;
    margin: 20px;
}